$darkPurple:#961A88;
$purpleCardBackground:#EEE1F0;
$darkBlue:#191978;
$blueCardBackground:#E9EEF6;
$skyBlue:#00AEB1;
$skyblueCardBackground:#EAF9F7;
$lightFont:#fff;
$darkFont:#000;
$grayBackground:#595857;
$grayFont:#3F3F3F;